html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

html, body {
  width: 100%;
  font-family: "Open Sans", sans-serif; }

body {
  min-height: 100%;
  background-color: #EFEFEF; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #ff675c; }

.base-panel {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: table;
  height: 500px; }
  .base-panel .bg-image {
    background-image: url("../img/bg.png");
    -webkit-background-size: 100% auto;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    margin-left: 50%;
    left: -200px;
    position: absolute;
    z-index: 1; }
  .base-panel h1 {
    padding-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 160%; }
  .base-panel h2 {
    color: #333;
    font-weight: 300; }
  .base-panel .headline {
    position: absolute;
    z-index: 2;
    width: 240px;
    margin-left: 50%;
    left: -120px;
    margin-top: 180px; }

.wrapper {
  position: relative;
  padding-top: 400px;
  width: 96%;
  margin: 0 2%; }
  .wrapper .inner-wrapper {
    padding: 30px 10% 40px 10%;
    border-top: 4px solid #ff675c;
    background-color: white; }
  .wrapper .project {
    padding-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 16px; }
  .wrapper span.source {
    padding-left: 2px;
    vertical-align: super;
    font-size: 65%; }
  .wrapper h1 {
    font-size: 130%;
    line-height: 2.5; }
  .wrapper h2 {
    font-size: 95%;
    line-height: 2.4; }
  .wrapper p, .wrapper blockquote {
    margin-bottom: 20px;
    font-size: 90%;
    line-height: 1.6; }
  .wrapper blockquote {
    padding-left: 8px;
    border-left: 2px #eeeeee solid; }
  .wrapper ul, .wrapper ol {
    padding-left: 20px; }
  .wrapper ol {
    padding-left: 35px; }
  .wrapper li {
    padding: 5px 0px;
    width: 80%;
    font-size: 80%;
    line-height: 1.6; }
  .wrapper ul li {
    list-style: circle; }
  .wrapper ol li {
    list-style: decimal-leading-zero; }
  .wrapper li a {
    font-weight: normal; }
  .wrapper br {
    width: 100%;
    height: 40px; }
  .wrapper .light-grey {
    color: #999; }
  .wrapper .inactive {
    color: #999; }
    .wrapper .inactive a {
      color: #999; }
  .wrapper .opening {
    color: #666; }

@media screen and (min-width: 600px) {
  .bg-image {
    margin-top: 50px; }

  .wrapper {
    padding-top: 500px;
    width: 500px;
    margin: 0 auto; }

  .base-panel .headline {
    margin-top: 230px; } }
/* Animation
====================== */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

.rotate {
  -webkit-animation: rotate 50s linear infinite; }
