// Reset

@import "_reset.scss";

// Styles

html, body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

body {
	min-height: 100%;
	background-color: #EFEFEF;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

.base-panel {
	position: fixed;
	top: 0;
	width: 100%;
	background-image: url("../img/bg.png");
	-webkit-background-size: 100% auto;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	display: table;
	height: 60%;
	h1 {
		padding-bottom: 24px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 160%;
	}
	h2 {
		color: #333;
		font-weight: 300;
	}
	.inner-wrapper {
		display: table-cell;
		vertical-align: middle;
	}
}

.wrapper {
	position: relative;
	padding-top: 80%;
	width: 100%;
	.inner-wrapper {
		padding: 60px 10% 40px 10%;
		min-height: 1200px;
		background-color:white;
	}
	span {
		font-weight: bold;
	}
	span.source {
		padding-left: 2px;
		vertical-align: super;
		font-size: 65%;
	}
	p, blockquote {
		margin-bottom: 20px;
		font-size: 90%;
		line-height: 1.6;
	}
	blockquote {
		padding-left: 8px;
		border-left: 2px #EEEEEE solid;
	}
	ul, ol {
		padding-top: 20px;
		padding-left: 20px;
	}
	ol {
		padding-left: 30px;
	}
	li {
		padding: 5px 0px;
		width: 70%;
		font-size: 80%;
		line-height: 1.6;
	}
	ul li {
		list-style: circle;
	}
	ol li {
		list-style: decimal-leading-zero;
	}
	li a {
		font-weight: normal;
	}
	br {
		width: 100%;
		height: 40px;
	}
	.opening {
		color: #666;
	}
}

@media screen and (min-width: 600px) {
	.base-panel {
		height: 500px;
	}
	.wrapper {
		padding-top: 500px;
		width: 500px;
		margin: 0 auto;
	}
}