// Reset

@import "_reset.scss";

// Styles

html, body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

body {
	min-height: 100%;
	background-color: #EFEFEF;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #ff675c;
}

.base-panel {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	display: table;
	height: 60%;
	.bg-image {
		background-image: url("../img/bg.png");
		-webkit-background-size: 100% auto;
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 25px;
		width: 400px;
		height: 400px;
		margin-left: 50%;
		left: -200px;
		position: absolute;
		z-index: 1;
	}
	h1 {
		padding-bottom: 24px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 160%;
	}
	h2 {
		color: #333;
		font-weight: 300;
	}
	.headline {
		position: absolute;
		z-index: 2;
		width: 240px;
		margin-left: 50%;
		left: -120px;
		margin-top: 200px;
	}
}

.wrapper {
	position: relative;
	padding-top: 80%;
	width: 96%;
	margin: 0 2%;
	.inner-wrapper {
		padding: 30px 10% 40px 10%;
		border-top: 4px solid #ff675c;
		background-color:white;
	}
	.project {
		padding-bottom: 20px;
		border-bottom: 1px solid #F5F5F5;
		margin-bottom: 16px;
	}

	span.source {
		padding-left: 2px;
		vertical-align: super;
		font-size: 65%;
	}
	h1 {
		font-size: 130%;
		line-height: 2.5;
	}
	h2 {
		font-size:95%;
		line-height: 2.4;
	}
	p, blockquote {
		margin-bottom: 20px;
		font-size: 90%;
		line-height: 1.6;
	}
	blockquote {
		padding-left: 8px;
		border-left: 2px #EEEEEE solid;
	}
	ul, ol {
		padding-left: 20px;
	}
	ol {
		padding-left: 35px;
	}
	li {
		padding: 5px 0px;
		width: 80%;
		font-size: 80%;
		line-height: 1.6;
	}
	ul li {
		list-style: circle;
	}
	ol li {
		list-style: decimal-leading-zero;
	}
	li a {
		font-weight: normal;
	}
	br {
		width: 100%;
		height: 40px;
	}
	.light-grey {
		color: #999;
	}
	.inactive {
		color: #999;
		a {
			color: #999;
		}
	}
	.opening {
		color: #666;
	}
}

@media screen and (min-width: 600px) {
	.base-panel {
		height: 500px;
	}
	.wrapper {
		padding-top: 500px;
		width: 500px;
		margin: 0 auto;
	}
}

/* Animation
====================== */

@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotate {
    -webkit-animation: rotate 50s linear infinite;
}